<!DOCTYPE html>
<html>
	<head>
		<title>HELLO !</title>
		<meta charset="utf-8">
		<font face="Arial">
		<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
		<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
	</head>

	<body>
		<div id="vue">
		<div id="main-page">

			<div class="left-pannel">

				<div class="history-search">

					<div  class="history">
						<p class="history-title">History</p>
					</div>

					<div  class="history">
						<p class="history-rn"> { hist } </p>
					</div>

					<div class="history">
						<a href="{{ 'https://www.google.com/search?client=firefox-b-d&q=' + Cont['history'][-1] }}">
							<p class="history-p"> {{ Cont['history'][-1] }} </p>
						</a>
					</div>

					<div class="history">
						<a href="{{ 'https://www.google.com/search?client=firefox-b-d&q=' + Cont['history'][-2] }}">
							<p class="history-p"> {{ Cont['history'][-2] }} </p>
						</a>
					</div>

					<div class="history">
						<a href="{{ 'https://www.google.com/search?client=firefox-b-d&q=' + Cont['history'][-3] }}">
							<p class="history-p"> {{ Cont['history'][-3] }} </p>
						</a>
					</div>

					<div class="history">
						<a href="{{ 'https://www.google.com/search?client=firefox-b-d&q=' + Cont['history'][-4] }}">
							<p class="history-p"> {{ Cont['history'][-4] }} </p>
						</a>
					</div>

					<div class="history">
						<a href="{{ 'https://www.google.com/search?client=firefox-b-d&q=' + Cont['history'][-5] }}">
							<p class="history-p"> {{ Cont['history'][-5] }} </p>
						</a>
					</div>
					<div class="history">
					</div>

				</div>

			</div>

			<div class="greet">
				<p> {{ Cont['user'][0] }} </p>
			</div>

			<div class="shortcuts">
				<a href="https://drive.google.com/drive/u/0/my-drive"><img src="{{ url_for('static', filename='drive.png') }}"></a>
				<a href="https://www.youtube.com/"><img src="{{ url_for('static', filename='youtube.png') }}"></a>
				<a href="https://www.deezer.com/fr/"><img src="{{ url_for('static', filename='deezer.jpeg') }}"></a>
				<a href="https://app.todoist.com/app/"><img src="{{ url_for('static', filename='todoist.png') }}"></a>
				<a href="https://cahier-de-prepa.fr/mp-pasteur/"><img src="{{ url_for('static', filename='cahier-de-prepa.png') }}"></a>
				<a href="https://mail.google.com/mail/u/0/#all"><img src="{{ url_for('static', filename='gmail.png') }}"></a>
				<a href="https://calendar.google.com/calendar/u/0/r"><img src="{{' https://ssl.gstatic.com/calendar/images/dynamiclogo_2020q4/calendar_' + Cont['day'][1] + '_2x.png' }}"></a>
			</div>

			<div class="search">
						<form action="#" method="post">
							<input id="searchbar" type="text" name="searched" autofocus placeholder="search" value="{{ request.form['searched'] }}" required v-model="hist" autocomplete="off" >
			</div>




			<div id="dash" class="dash">
				<div class="top-left"id="dashItem--1">
					<iframe width="100%" height="100%" src="https://www.youtube.com/embed/uTuuz__8gUM?si=QhpMQ2bajt8UoTGt" title="YouTube video player" frameborder="0" allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="top-mid" id="dashItem--2">
					<iframe width="100%" height="100%" src="https://studywithme.io/aesthetic-pomodoro-timer/" title="pomodoro" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="top-right" id="dashItem--3" data-tf-disable-auto-focus>
					<iframe width="100%" height="100%" src="https://cahier-de-prepa.fr/mp-pasteur/" title="CahierDePrepa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="bottom-left" id="dashItem--4">
					4
				</div>
				<div class="bottom-mid" id="dashItem--5">
					5
				</div>
				<div class="bottom-right" id="dashItem--6">
					6
				</div>

			</div>



			<div class="right-pannel">
				<div class="time-widget">
					<p> time </p>
				</div>
				<div class="news">
					<iframe width="100%" height="100%" src="/news" title="CahierDePrepa" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
				</div>
				<div class="news-summary">
					<p> {{ Cont['summary'] }} </p>
				</div>

			</div>

		</div>
		</div>

		<script type="text/javascript" src="{{ url_for('static', filename='main.js') }}"> </script>
	</body>
</html>
